body {
    margin: 0;
    background: #0B0D17;
    background-image: url(../media/pic/Bitmap.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    text-decoration: none;
    color: #000;
}

header {
    top: 0;
    z-index: 8;
    height: 81px;
}

.head-cont {
    width: 1100px;
    margin: 0 auto;
}

.nav-item a {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: rgba(255, 255, 255, 0.473);
}



.navbar {
    background: rgba(0, 0, 0, 0.04) !important;
    backdrop-filter: blur(81.5485px) !important;
}

.wprd {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: rgb(255, 255, 255) !important;
    margin-right: 90px;
}

.wprd:hover {
    color: #cacaca !important;
    transition: 0.25s;
}

.navbar-brand {
    color: white !important;
}

.logo {
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
    padding-right: 53px;
    font-family: 'Bellefair';
}

.line {
    width: 200px;
    height: 1px;
    background-color: white;
    opacity: .25;
}

@media (max-width:800px) {
    .line {
        display: none;
    }
}

.navbar-nav {
    position: relative;
}

.underline {
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: white;
    bottom: -22px;
    left: 22%;
}



/* MAIN */

main {
    padding-top: 80px;
    margin-bottom: 100px;
}

.main-cont {
    margin: 0 auto;
    width: 1100px;
    color: white;
    align-items: center;
}

.vert-line {
    position: absolute;
    width: 40px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.planet-info {

    margin-bottom: -20px;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    margin-left: 30px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    font-family: 'Bellefair';
    color: #FFFFFF
}

.main-main {
    padding-top: 100px;
    display: flex;
}


/*GALLERY*/

.modal-header button h3 {
    color: #000000;
    size: 40px;
    float: right;
}

.modal-header button h3:hover {
    color: #858585;
}

.btn {
    align-items: center;
    width: 448px;
}

.btn h4 {
    font-family: Barlow;
    color: rgb(255, 255, 255);
    transition: opacity 0.3s;
}

.btn h4:hover {
    color: rgb(160, 160, 160);
}

#galleryContainer {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 2%;
}

#gridWithPhotos {
    margin-top: 15px;
    width: 100%;
}

img {
    transition: 0.2s;
}

img:hover {
    opacity: 0.5;
}

.container h3 {
    font-family: Barlow;
    color: black;
    font-style: normal;
    font-weight: normal;
    margin-top: 7px;
}

.col-lg p {
    font-family: Barlow;
    font-style: normal;
    color: black;
    font-weight: normal;
}

.container-md {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 2%;
}

.container-md hr {
    background-color: white;
}

.second-div {
    padding-left: 100px;
}

/*BUTTONS*/
.success {
    border-color: #04AA6D;
    color: green;
  }
  
  .success:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Blue */
  .info {
    background-color: #2196F3;
    color: rgb(222, 253, 225);
  }
  
  .info:hover {
    background: #6eafe4;
    color: white;
  }
  
  /* Orange */
  .warning {
    border-color: #ff9800;
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
  }
  
  /* Red */
  .danger {
    border-color: #f44336;
    color: red
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }
  
  /* Gray */
  .default {
    border-color: #e7e7e7;
    color: black;
  }
  
  .default:hover {
    background: #e7e7e7;
  }

/*GALLERY*/
#myBtn{
    display: none;
    position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.btn-planet {
    font-weight: bold;
    color: white;
    background: transparent;
}

.btn-planet:active {
  background-color: #737272;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.main-pic {
    margin-right: 157px;
    animation: rotatte 1.5s infinite linear;
}

.main-division {
    display: inline-block !important;
}

.main-menu {
    display: flex;
    width: 400px;
    height: 20px;
    background-color: transparent;
    opacity: 100%;
    align-items: center;
}

.main-choose {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 2.7px;
    font-family: 'Barlow Condensed';
    color: #D0D6F9;
}

.main-choose:last-child {
    margin-right: 0;
}

.main-choose:first-child {
    color: #FFFFFF;
}

.underline2 {
    width: 40px;
    height: 3px;
    background: #FFFFFF;
}
.underline3{
    position: absolute;
    width: 102px;
    height: 3px;
    background: #FFFFFF;
    top: 17px;
    visibility: hidden;
}
.underline4{
    position: absolute;
    width: 150px;
    height: 3px;
    background: #FFFFFF;
    top: 17px;
    visibility: hidden;
}

.main-name {
    font-family: "Bellefair";
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 20px;
}

.main-par {
    font-family: "Barlow";
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 444px;
    height: 237px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 25px;
}

.second-line {
    width: 444px;
    height: 1px;
    background: #383B4B;
}

.menuphone {
    display: none;
}

.activeee{
   visibility: visible;
}

.nonactive{
    visibility: hidden;
}

.page-footer {
    margin-top: 200px;
}


.divider {
    border-top: 1px solid white;
}

h6 {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.col-lg-4>p,
.col-lg-4>a {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #535353;
    display: block;
    margin-bottom: 10px;
}

.col-lg-4>a:hover {
    color: #b8b8b8;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 20px;
}

.open-gallery{
    margin-top: 10px;
    display: inline-block;
    font-family: "Barlow";

}

@media (max-width:1025px) {
    .underline{
        display: none;
    }
    .main-pic {
        width: 380px;
        height: 380px;
    }
    .main-cont{
        width: 1000px;
    }
    .head-cont {
        width: 800px;
    }

    .second-div {
        padding-left: 1px;
    }
    .main-par{
        width:344px ;
    }
    .main-name{
        font-size: 40px;
    }
    .main-pic {
        width: 350px;
        height: 350px;
    }

    .btn {
        width: 400px;
    }
    .page-footer {
        text-align: center;
    }

    .second-line{
        margin-top: 100px;
        width: 344px;
    }

}


@media(max-width:769px) {
    .open-gallery {
        display: none;
    }

    .head-cont {
        width: 500px;
    }

    .main-cont {
        width: 500px;
    }

    .main-main {
        width: 500px;
        padding-top: 45px;
        padding-left: 60px;
    }

    .main-pic {
        width: 300px;
        height: 300px;
    }

    .btn {
        width: 350px;
    }

    .second-div {
        margin-left: 1px;
    }
}

@media(max-width:500px) {

    .head-cont {
        width: 320px;
    }

    main {
        padding-top: 20px;
    }

    .main-info {
        padding-left: 18px;
    }

    .main-pic {
        width: 200px;
        height: 200px;
    }

    .btn {
        width: 240px;
    }

    .second-div {
        padding-top: 10px;
    }

    .main-main {
        width: 500px;
        margin-left: 30px;
        padding-left: 10px;
    }

    .main-cont {
        width: 500px;
    }

    .main-choose {
        font-size: 10px;
    }

    .underline2 {
        width: 33px;
    }
    .underline3{
        display: none;
    }
    .underline4{
        display: none;
    }
    .second-line {
        display: none;
    }

    .main-name {
        font-size: 45px;
        margin-left: 30px;
        margin-top: 0;
    }

    .main-par {
        width: 280px;
    }

    .main-division button {
        margin-top: 150px;
    }
}

@media(max-width:321px) {
    .main-cont {
        width: 322px;
    }

    .main-main {
        width: 322px;
    }

    .planet-info {

        width: 322px;
    }

    .main-name {
        width: 323px;
        font-size: 45px;
    }

    .second-div {
        padding-left: 1px;
    }

    .main-choose {
        margin-right: 5px;
    }
}
